<link rel="stylesheet"  href="{{ 'home-custom.css' | asset_url }}"   >


 {%liquid  
      assign width =  section.settings.width 
      assign top =  section.settings.top 
      assign bottom =  section.settings.bottom 
      assign left =  section.settings.left 
      assign right =  section.settings.right 
      assign color =  section.settings.color  
    %}
 <style>
   #shopify-section-{{ section.id }}{
     background-color:{{color}};
   }
 </style>
 
<section class="id_{{ section.id }}">
    <div class="{{ width }}" style="
        padding-top:{{ top }}px;
        padding-bottom:{{ bottom }}px;
        padding-left:{{ left }}px;
        padding-right:{{ right }}px; 
      ">
      <div class="flex wrap align-center justify-center">
        
     

        <div class="col-75 blockStyle">
          {% for block in section.blocks %} 
            
        {%liquid  
            assign media =  block.settings.image 
          

          
            assign textColor = block.settings.textColor
            assign title =  block.settings.title
            assign subtitle =  block.settings.subtitle
            assign content =  block.settings.content
            assign url =  block.settings.url
            assign urltext =  block.settings.urltext 
            assign padding =  block.settings.padding 
            assign align =  block.settings.align
            
          %}
            {% case block.type %}
   
              
            {% when 'image' %}
               {%  unless media == empty %}
               <div class=""> 
                 {{ media | img_url: 'master' | img_tag }} 
               </div> 
              {% endunless %}
              
              {% when 'subtitle' %}
              <h5 class="subtitle">{{ subtitle }}</h5>
              {% when 'title' %}
              <h2>{{ title }}</h2>
              {% when 'content' %}
              <div class="content">
                <p>{{ content }}</p>
              </div>
              {% when 'link' %} 
                <a class="btn" href="{{ url }}"><span>{{ urltext }}</span></a>
              {% when 'style' %} 
              <style>
                #shopify-section-{{ section.id }} .blockStyle{
                  padding:{{padding}};
                  {% if align == true %}
                    text-align:center;
                  {% endif %}
                  
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  gap: 15px;
                  justify-content: center;
                  
                }
                #shopify-section-{{ section.id }} .blockStyle h2{
                  font-size:60px;
                  font-weight:700;
                  line-height:120%;
                    margin: 0;
                }
                #shopify-section-{{ section.id }} .blockStyle h2,
                #shopify-section-{{ section.id }} .blockStyle p,
                #shopify-section-{{ section.id }} .blockStyle p ul li,
                #shopify-section-{{ section.id }} .blockStyle h1{
                  color:{{textColor}};
                   
                }
                
                 
                @media(max-width:767px){
                  #shopify-section-{{ section.id }} .blockStyle{
                    padding:30px 20px;
                  }
               #shopify-section-{{ section.id }} .blockStyle h2{
                  font-size:28px;
                   
                }
 
                }
              </style>
            {% endcase %}
          {% endfor %}
        </div>
        
        
      </div>

      <div class="row flex wrap">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when "box" %}
          <div class="col-25 box_main">
              <div class="box">
                <h2 class="box_title">{{ block.settings.boxtitle }}</h2>
                <p class="box_des">{{ block.settings.boxdes }}</p>
              </div>
          </div>
          {% endcase %}
        {% endfor %}
      </div>

<style>
#shopify-section-{{ section.id }} .row{
  margin:-16px;
  box-sizing: border-box;
}

#shopify-section-{{ section.id }} .box_main{
  padding:16px;
   box-sizing: border-box;
}
  
#shopify-section-{{ section.id }} .box{
  padding:20px 50px 20px 40px;
  border-radius:10px;
  background:{{section.settings.boxbgcolor}};
  height:100%;
  box-sizing: border-box;
}
#shopify-section-{{ section.id }} .box_title{
        font-size: 48px;
      font-family:Poppins;
      font-weight: 700;
      letter-spacing:normal;
      line-height: 120%;
  margin:0px 0px 5px 0px;
   color:{{section.settings.boxtextcolor}};
}
  
#shopify-section-{{ section.id }} .box_des{
  font-size: 16px;
      font-family:Rubik;
      font-weight: 400;
      letter-spacing:0.6px;
      line-height: 150%;
  margin:0px 0px 16px 0px;
  color:{{section.settings.boxtextcolor}};
}

  @media(max-width:767px){


#shopify-section-{{ section.id }} .box_title{
        font-size: 25px;
}
  
#shopify-section-{{ section.id }} .box_des{
  font-size: 14px;
  margin:0px;
  
}
#shopify-section-{{ section.id }} .box{
  padding:20px 10px 20px 10px;
}
    
#shopify-section-{{ section.id }} .row{
   padding:0px 15px;
  margin:-10px;
  box-sizing: border-box;
}

#shopify-section-{{ section.id }} .box_main{
  padding:10px;
   box-sizing: border-box;
}




    
  }
  
  
</style>



      
    </div>
</section>


{% schema %}
  {
    "name": "Home Box",
    "settings": [ 
      {
        "type": "select",
        "label": "Section",
        "id": "width",
        "options":[
          {"value":"container","label": "Container"},
          {"value":"container-full","label": "Container Full"}
        ]
      },
      {
        "type": "color",
        "label": "Section Color",
        "id": "color" 
      },
      {
        "type": "color",
        "label": "Box Background Color",
        "id": "boxbgcolor" ,
        "default":"#000000"
      },
            {
        "type": "color",
        "label": "Box Text Color",
        "id": "boxtextcolor" ,
        "default":"#ffffff"
      },
      {
        "type": "header",
        "content": "Section Padding"
      },
      {
        "type": "range",
        "label": "Top",
        "id": "top",
         "min":0,
        "max":200,
        "step": 5,
        "default":0
      },
      {
        "type": "range",
        "label": "Bottom",
        "id": "bottom",
         "min":0,
        "max":200,
        "step": 5,
        "default":0
      },
      {
        "type": "range",
        "label": "Left",
        "id": "left",
         "min":0,
        "max":200,
        "step": 5,
        "default":0
      },
      {
        "type": "range",
        "label": "Right",
        "id": "right",
         "min":0,
        "max":200,
        "step": 5,
        "default":0
      }
    ],
    "blocks":[
      {
        "type": "image",
        "name":"Image",
        "settings": [
            {
              "type": "image_picker",
              "label": "Image",
              "id": "image" 
            }
        ] 
      },
      {
        "type":"box",
        "name":"Box",
        "settings": [
            {
              "type": "text",
              "id": "boxtitle",
              "label": "Title",
              "default":"44%"
            },
          {
            "type": "textarea",
            "id": "boxdes",
            "label": "Text",
            "default":"Decrease in cost per acquisition on paid promotions (Facebook & Instagram)"
          }
        ]
      },
      {
        "type": "subtitle",
        "name":"Sub Title",
        "settings": [
          {
            "type": "text",
            "label": "Title",
            "id": "subtitle",
            "default":"Drive More Conversions with AI-Optimized Landing Pages"
          }
        ] 
      },
      {
        "type": "title",
        "name":"Title",
        "settings": [
          {
            "type": "text",
            "label": "Title",
            "id": "title",
            "default":"Drive More Conversions with AI-Optimized Landing Pages"
          }
        ] 
      },
      {
        "type": "content",
        "name":"Content",
        "settings": [
          {
            "type": "textarea",
            "label": "Content",
            "id": "content",
            "default":"Personalized customer journeys from click to conversion with the power of AI and A/B testing"
          }
        ] 
      },
      
      {
        "type": "link",
        "name":"Link",
        "settings": [
          {
            "type": "url",
            "label": "URL",
            "id": "url" 
          },
          {
            "type": "text",
            "label": "Button Text",
            "id": "urltext",
            "default":"Increase My Conversions"
          }
        ] 
      } ,
      {
        "type": "style",
        "name":"Style",
        "settings": [
          {
            "type": "text",
            "label": "Padding",
            "id": "padding" 
          }, 
          {
            "type": "color",
            "id": "textColor",
            "label": "Text Color" 
          }, 
          
          {
            "type": "checkbox",
            "label": "Text Align",
            "id": "align"
             
          }
        ] 
      } 
    ],
    "presets": [
      {
        "name":"Home Box"
      }
    ]
  }
{% endschema %}
 