<link rel="stylesheet"  href="{{ 'home-custom.css' | asset_url }}"   >


 {%liquid  
      assign width =  section.settings.width 
      assign top =  section.settings.top 
      assign bottom =  section.settings.bottom 
      assign left =  section.settings.left 
      assign right =  section.settings.right 
      assign color =  section.settings.color  
    %}
 <style>
   #shopify-section-{{ section.id }}{
     background-color:{{color}};
   }
   @media(max-width:767px){
       #shopify-section-{{ section.id }} .container{
     padding:0px !important;
    box-sizing: border-box;
}
    #shopify-section-{{ section.id }}{
     padding:30px 0px !important;
   }
   }
 </style>
 
<section class="id_{{ section.id }}">
    <div class="{{ width }}" style="
        padding-top:{{ top }}px;
        padding-bottom:{{ bottom }}px;
        padding-left:{{ left }}px;
        padding-right:{{ right }}px; 
      ">
      <div class="flex wrap align-center justify-center">
        
     

        <div class="col-75 blockStyle">
          {% for block in section.blocks %} 
            
        {%liquid  
            assign media =  block.settings.image 
            assign video_url =  block.settings.video_url
            assign video =  block.settings.video
            assign enable_video_looping =  block.settings.enable_video_looping
          assign video_id = block.settings.video.id | default: block.settings.video_url.id

          
            assign textColor = block.settings.textColor
            assign title =  block.settings.title
            assign subtitle =  block.settings.subtitle
            assign content =  block.settings.content
            assign url =  block.settings.url
            assign urltext =  block.settings.urltext 
            assign padding =  block.settings.padding 
            assign align =  block.settings.align
            
          %}
            {% case block.type %}



              {% when 'video' %}
              {%- if video == null and video_url != null -%}
                {%- liquid
                  assign loop = ''
                  if enable_video_looping
                    assign loop = '&loop=1&playlist=' | append: video_id
                  endif
                -%}
                {%- if video_url.type == 'youtube' -%}
                  <iframe
                    src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&autoplay=1{{ loop }}"
                    class="js-youtube"
                    allow="autoplay; encrypted-media"
                    allowfullscreen
                    title="{{ content | escape }}"
                  ></iframe>
                {%- else -%}
                  <iframe
                    src="https://player.vimeo.com/video/{{ video_id }}?autoplay=1{{ loop }}"
                    class="js-vimeo"
                    allow="autoplay; encrypted-media"
                    allowfullscreen
                    title="{{ content | escape }}"
                  ></iframe>
                {%- endif -%}
              {%- else -%}
                {{
                  block.settings.video
                  | video_tag:
                    image_size: '1100x',
                    autoplay: true,
                    loop: enable_video_looping,
                    controls: true,
                    muted: false
                }}
              {%- endif -%}
              
            {% when 'image' %}
               {%  unless media == empty %}
               <div class=""> 
                 {{ media | img_url: 'master' | img_tag }} 
               </div> 
              {% endunless %}
              
              {% when 'subtitle' %}
              <h5 class="subtitle">{{ subtitle }}</h5>
              {% when 'title' %}
              <h2 class="{{ block.id }}">{{ title }}</h2>
              <style>
        #shopify-section-{{ section.id }} .{{ block.id }}{
                  font-size:{{ block.settings.fontsize }}px !important;
                  margin-bottom:{{block.settings.lmargin}}px !important;
              }
                @media(max-width:767px){
                    #shopify-section-{{ section.id }} .{{ block.id }}{
                  margin-bottom:{{block.settings.mmargin}}px !important;
              }
                }
                </style>
              {% when 'content' %}
              <div class="content">
                <p>{{ content }}</p>
              </div>
              {% when 'link' %} 
                <a class="btn" href="{{ url }}"><span>{{ urltext }}</span></a>
              {% when 'style' %} 
              <style>
                #shopify-section-{{ section.id }} .blockStyle{
                  padding:{{padding}};
                  {% if align == true %}
                    text-align:center;
                  {% endif %}
                  
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  gap: 15px;
                  justify-content: center;
                  
                }
                #shopify-section-{{ section.id }} .blockStyle h2{
                  font-size:60px;
                  font-weight:700;
                  line-height:120%;
                    margin: 0;
                }
                #shopify-section-{{ section.id }} .blockStyle h2,
                #shopify-section-{{ section.id }} .blockStyle p,
                #shopify-section-{{ section.id }} .blockStyle p ul li,
                #shopify-section-{{ section.id }} .blockStyle h1{
                  color:{{textColor}};
                   
                }
                
                 
                @media(max-width:767px){
                  #shopify-section-{{ section.id }} .blockStyle{
                    padding:30px 20px;
                  }
               #shopify-section-{{ section.id }} .blockStyle h2{
                  font-size:28px !important;
                   
                }
 
                }
              </style>
            {% endcase %}
          {% endfor %}
        </div>
        
        
      </div>
    </div>
</section>


{% schema %}
  {
    "name": "Home Video",
    "settings": [ 
      {
        "type": "select",
        "label": "Section",
        "id": "width",
        "options":[
          {"value":"container","label": "Container"},
          {"value":"container-full","label": "Container Full"}
        ]
      },
      {
        "type": "color",
        "label": "Section Color",
        "id": "color" 
      },
      {
        "type": "header",
        "content": "Section Padding"
      },
      {
        "type": "range",
        "label": "Top",
        "id": "top",
         "min":0,
        "max":200,
        "step": 5,
        "default":0
      },
      {
        "type": "range",
        "label": "Bottom",
        "id": "bottom",
         "min":0,
        "max":200,
        "step": 5,
        "default":0
      },
      {
        "type": "range",
        "label": "Left",
        "id": "left",
         "min":0,
        "max":200,
        "step": 5,
        "default":0
      },
      {
        "type": "range",
        "label": "Right",
        "id": "right",
         "min":0,
        "max":200,
        "step": 5,
        "default":0
      }
    ],
    "blocks":[
      {
        "type": "image",
        "name":"Image",
        "settings": [
            {
              "type": "image_picker",
              "label": "Image",
              "id": "image" 
            }
        ] 
      },
      {
        "type":"video",
        "name":"Video",
        "settings": [
            {
              "type": "video_url",
              "id": "video_url",
              "accept": ["youtube", "vimeo"],
              "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
              "label": "t:sections.video.settings.video_url.label",
              "info": "t:sections.video.settings.video_url.info"
            },
            {
            "type": "video",
            "id": "video",
            "label": "t:sections.video.settings.video.label"
          },
          {
            "type": "checkbox",
            "id": "enable_video_looping",
            "label": "t:sections.video.settings.enable_video_looping.label",
            "default": false
          }
        ]
      },
      {
        "type": "subtitle",
        "name":"Sub Title",
        "settings": [
          {
            "type": "text",
            "label": "Title",
            "id": "subtitle",
            "default":"Drive More Conversions with AI-Optimized Landing Pages"
          }
        ] 
      },
      {
        "type": "title",
        "name":"Title",
        "settings": [
          {
            "type": "text",
            "label": "Title",
            "id": "title",
            "default":"Drive More Conversions with AI-Optimized Landing Pages"
          },
          {
            
        "type": "range",
        "label": "Font Size",
        "id": "fontsize",
         "min":0,
        "max":100,
        "step": 1,
        "default":60
      },
           {
        "type": "range",
        "label": "Laptop Margin Botton",
        "id": "lmargin",
         "min":0,
        "max":100,
        "step": 1,
        "default":0
      },
      {
        "type": "range",
           "label": "Mobail Margin Botton",
        "id": "mmargin",
         "min":0,
        "max":100,
        "step": 1,
        "default":0
      }
          
        ] 
      },
      {
        "type": "content",
        "name":"Content",
        "settings": [
          {
            "type": "textarea",
            "label": "Content",
            "id": "content",
            "default":"Personalized customer journeys from click to conversion with the power of AI and A/B testing"
          }
        ] 
      },
      
      {
        "type": "link",
        "name":"Link",
        "settings": [
          {
            "type": "url",
            "label": "URL",
            "id": "url" 
          },
          {
            "type": "text",
            "label": "Button Text",
            "id": "urltext",
            "default":"Increase My Conversions"
          }
        ] 
      } ,
      {
        "type": "style",
        "name":"Style",
        "settings": [
          {
            "type": "text",
            "label": "Padding",
            "id": "padding" 
          }, 
          {
            "type": "color",
            "id": "textColor",
            "label": "Text Color" 
          }, 
          
          {
            "type": "checkbox",
            "label": "Text Align",
            "id": "align"
             
          }
        ] 
      } 
    ],
    "presets": [
      {
        "name":"Home Video"
      }
    ]
  }
{% endschema %}
 